<center>
	
	<h2>Bem-vindo! <%= @teste %></h2>
	<table>
		<tr>
			<td>
				<%= button_to 'Ruby Repositories', languages_path, method: :get, params: [language: :ruby] %>
			</td>
			<td>
				<%= button_to 'C Repositories', languages_path, method: :get, params: [language: :c] %>
			</td>
			<td>
				<%= button_to 'Java Repositories', languages_path, method: :get, params: [language: :java] %>
			</td>
			<td>
				<%= button_to 'PHP Repositories', languages_path, method: :get, params: [language: :php] %>
			</td>
			<td>
				<%= button_to 'Assembly Repositories', languages_path, method: :get, params: [language: :assembly] %>
			</td>
		</tr>

	</table>
</center>