<center>
	

  <table border="1">
  	<tr>
  		<td><%= link_to 'Home', root_path %></td>
  		<td><%= link_to "#{@repository.language.name.capitalize} Repositories",
    language_path(@repository.language.name.to_sym), id: 'repositories' %></td>
  	</tr>
	
	<h2>Detalhes do Repositório <%= @repository.full_name %></h2>
  <table border='1'>
    <tr>
      <td>Id: </td>
      <td><%= @repository.github_id %></td>
    </tr>
    <tr>
      <td>Nome completo: </td>
      <td><%= @repository.full_name %></td>
    </tr>
    <tr>
      <td>Descrição: </td>
      <td><%= @repository.description %></td>
    </tr>
    <tr>
      <td>Linguagem: </td>
      <td><%= @repository.language.name.capitalize %></td>
    </tr>
    
    <tr>
      <td>HTML URL: </td>
      <td><%= @repository.html_url %></td>
    </tr>
    <tr>
      <td>Autor: </td>
      <td><%= @repository.owner_login %></td>
    </tr>
    <tr>
      <td>URL do Autor: </td>
      <td><%= @repository.owner_url %></td>
    </tr>
    <tr>
      <td>Privado? </td>
      <td><%= @repository.private ? 'Sim' : 'Não' %></td>
    </tr>
  </table>
	

</center>