<center>
	
	<h2>Bem-vindo!</h2>
	<table border='1'>
		<tr>
			<td>
				<%= link_to 'Ruby Repositories', language_path(:ruby) %>
			</td>
			<td>
				<%= link_to 'C Repositories', language_path(:c) %>
			</td>
			<td>
				<%= link_to 'Java Repositories', language_path(:java) %>
			</td>
			<td>
				<%= link_to 'PHP Repositories', language_path(:php) %>
			</td>
			<td>
				<%= link_to 'Assembly Repositories', language_path(:assembly) %>
			</td>
		</tr>

	</table>
</center>